/*Variables*/
:root {
--primary-dark: #00363a;
--primary-medium: #006064;
--primary-light: #428e92;
--secondary-dark: #ccb9bc;
--secondary-medium: #ffebee;
--secondary-light: #ffffff;
}

/*GENERAL*/

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	font-family: 'Heebo', sans-serif;
	font-size: 62.5%;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
}

h2 {
	margin: 0 0 20px 0;
	color: #555;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 30px;
}

h3, h4 {
	color: #222;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
}

h5 {
	font-weight: 100;
	font-size: 1.6rem;
	padding-left: 0.5rem;
	margin-bottom: 0.5rem;
	line-height: 20px;
}

a:hover, a:focus, a:link {
	text-decoration: none;
}

ul, ol {
	list-style: none;
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

hr {
	height: 1px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #666;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}

/*Header*/

.header-container {
	height: 100vh;
	margin-bottom: 15rem;
	background: var(--primary-dark);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fullname {
	position: absolute;
	top: 40px; left: 40px;
	font-size: 3rem;
	font-weight: 100;
	color: var(--secondary-medium);
}

.job-title {
	position: absolute;
	top: 40px; right: 40px;
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: 100;
	color: var(--secondary-medium);
}

.portfolio-title {
	font-family: 'Indie Flower', cursive;
	font-size: 25rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
	color: var(--secondary-medium);
}

.header-container .button {
	font-size: 2.5rem;
	font-weight: 100;
	text-transform: lowercase;
	letter-spacing: 0.2rem;
	color: var(--secondary-medium);
}

/*Navigation*/ 

nav.sticky {
	position: sticky;
	top: 0;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 10rem;
	padding: 3rem 0;
}

.navbar-nav .nav-link {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
	font-weight: 100;
	border-radius: 2rem;
	color: #1b1b1b;
}

nav li {
	transition: all 400ms ease;
	padding: 10px 20px;
	text-align: center;
	border-radius: 2.5rem;
	opacity: 0.8;
}

nav li:hover {
	transform: scale(1.15);
	transform: perspective(75px) rotateY(15deg);
	opacity: 0.5;
} 

/*About section*/

.reveal-visible {
	opacity: 1;
	transform: translateY(0);
	transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.section, .image, .about-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section .about-text {
	font-size: 2rem;
	max-width: 60rem;
	font-weight: 100;
	margin-bottom: 10rem;
}

/*Portfolio section*/

.portfolio-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20rem;
}

.section-galery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 8rem 10rem;
}

.portfolio-item {
	justify-self: stretch;
}

.portfolio-item .project-title h4{
	display: flex;
	justify-content: center;
	padding: 1rem 2rem;
}

/*Contact section*/

.contact {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact .contact-title {
	margin-bottom: 4rem;
}

.contact form {
	width: 40rem;
  padding: 4rem;
	box-shadow: 0 3px 5px rgba(0,0,0,.3);
}

.contact form .form-group {
	position: relative;
}

.contact form label {
	position: absolute;
  top:0;
  left: 0;
  padding: 1rem 0 1rem .5rem;
	font-size: 1.6rem;
	font-weight: 100;
  pointer-events: none;
  transition: .5s;
}

.contact form  input:focus ~ label,
.contact form  input:valid ~ label {
	top: -0.2rem;
	left: 0;
	font-size: 1.2rem;
}


.contact form input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--primary-medium);
  outline: none;
  background: transparent;
}

.contact form textarea {
	resize: none;
	width: 100%;
	min-height: 20rem;
	padding: 1rem 0.5rem;
	font-size: 16px;
	margin-bottom: 30px;
  border-bottom: 1px solid var(--primary-medium);
  outline: none;
  background: transparent;
}

.contact button {
	padding: 0.8rem 1.6rem;
	font-size: 1.2rem;
	font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 2rem;
	letter-spacing: 0.3rem;
	border: 1px solid rgba(37, 37, 37, 0.3);
	background: none;
}

.contact button:hover {
	background: var(--secondary-medium);
}

/*Footer*/

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 6rem 0;
}

footer .social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

footer .social a {
	font-size: 4rem;
	margin: 0 4rem 4rem 4rem;
	color: var(--primary-dark);
}

footer .year {
	font-size: 2rem;
}
